@charset "utf-8";

body {
    background-color: #CCCCFF;
}

#mainBody {
    display: inline-block;
    position: absolute;
    border: #FFFFFF 1px solid;
    width: 70%;
    height: 400px;
    left: 50%;
    right: 50%;
    margin-left: -35%;
    margin-right: -35%;
    top: 100px;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFFFFC;
    box-shadow: 0 0 10px #3340E6;
    text-align: center;
    padding-top: 110px;
}

#mainBody div label{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 20px;
    font-family: arial,​tahoma,​"Microsoft Yahei",​"宋体",​sans-serif;
    font-size: 16px;
}

#mainBody div span {
    display: inline-block;
    width: 150px;
    margin-left: 15px;
    text-align: left;
    padding-right: 20px;
    font-family: arial,​tahoma,​"Microsoft Yahei",​"宋体",​sans-serif;
    font-size: 12px;
}

#mainBody div {
    margin: 20px;
}

#mainBody div input[type=password]{
    height: 20px;
    width: 200px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    border: #000000 1px solid;
    box-shadow: 0 0 3px #000000;
}

input[type=button] {
    width: 60px;
    height: 30px;
    margin: 20px;
}

.error {
	color: #F00;
}